[2013-06-13 03:14] nitay opened #1 "Publish to Maven Central"
This is really great work. You should publish it to Maven's Central repository so that others can use it without having to grab your jar manually. See e.g. https://docs.sonatype.org/display/Repository/Sonatype+OSS+Maven+Repository+Usage+Guide for how to publish open source projects to Maven.

[2013-06-13 16:42] #1 closed, assigned to nobody

[2014-06-05 13:18] pith opened #2 "resolveRawArguments(Class<T> type, Class<S> subType) never called"
The method `resolveRawArgument(Type genericType, Class<?> subType)` will always be called instead of `resolveRawArguments(Class<T> type, Class<S> subType)` since `Class` implements `Type`.
You should change the name of the method to solve the ambiguity.

[2014-06-11 03:15] #2 closed, assigned to nobody

[2014-11-17 21:55] darekxan opened #3 "proguard breaks usage"
Before everything works fine, calls return fine:
resolveRawArguments(Class<T> type, Class<S> subType)
resolveRawArgument(Class<T> type, Class<S> subType)

After proguarding the project (it is an Android project with no rules considering any particular classes related to the call) same call returns NPE.

I've already set:
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,SourceFile,LineN

[2014-12-08 20:53] artembilan opened #4 "Contribution back to Spring Framework"
Hi, @jhalterman !

Your work looks good and I have to admit that it resolve my `additional type parameter` issue. At least at a glance with smoky test.

I see you mention in your `TypeResolver` the `org.springframework.core.GenericTypeResolver`.
So, how about to contribute it back to Spring?

We have there several issues with generics on Lambdas as well.

Anyway we will consider to use your work s

[2015-04-19 19:12] pderop opened #5 "resolveRawArguments not working with method references"
Hi,

I'm not sure if this is bug or if I'm just facing the case of "Unresolvable Lambda Type Arguments" mentioned in the documentation, but I'm not able to get lambda argument types when I'm using Class :: instanceMethod method references:

What I'm trying to do is the following: I have the following sample codes:

    interface Service {
    }

    static class ServiceImpl implements Service {

[2015-04-20 18:10] jhalterman commented on #5
Hi Pierre - They are similar, but the bytecode is a bit different and instance method references are something I just hadn't added support for yet. Thanks for bringing this up though - looking into it now...

[2015-04-21 04:15] jhalterman commented on #5
@pderop This should be resolved now. Let me know if it looks good and I'll cut a new release.

Curious - is this being considered for inclusion in Felix?

[2015-04-21 04:15] #5 closed

[2015-04-21 06:01] pderop commented on #5
Hi Jonathan;

You made my day, excellent, it works fine in my environment ! So, how do you know it would be for Felix (DependencyManager) ?

:-)

So, I'm working on a new java8 builder prototype that leverages the existing Apache Felix Dependency Manager API using type-safe java8 constructs (essentially method references); but nothing is yet committed. I hope to commit soon this new library in my

[2015-04-21 19:33] jhalterman commented on #5
@pderop I guessed you were working on felix from your package names. I can cut a release whenever you'd like, but if you want to submit a pull request for OSGI support that would be great. I can cut a release right after that merges.

[2015-04-22 18:05] pderop commented on #5
I just made a pull request (hope I did it well, first time I'm doing this).
I modified the pom.xml and also proposed a patch because it was actually not working within Felix (but only working outside OSGi). See my comments in the pull request.

thanks.

[2015-07-29 00:39] vivin opened #8 "How does typetools work for nested generics?"
I just ran into this tool today and it looks pretty awesome! I had a question about how typetool handles nested generics. Adapting the example from your readme, suppose I had:

[code]

What would `typeArgs` contain? I'm assuming that it would just contain `List.class`, correct? All `List<T>` instances will share the same `List.class` instance regardless of the type of `T` due to type-erasure, and

[2015-07-29 00:50] jhalterman commented on #8
You're right that - right now resolveRawArguments just returns raw `List.class`. I specifically called that method `resolveRawArguments` because I wanted to leave room for resolving parameterized arguments, which could return an array/list of [TypeToken](https://code.google.com/p/guava-libraries/wiki/ReflectionExplained)-like things from which you could learn the raw type, if you wish, or the para

[2015-07-29 00:59] jhalterman commented on #8
BTW - If you have any suggestions for what this feature could look like, feel free to throw them out.

In the meantime, you might look at Tatu's [Classmate](https://github.com/FasterXML/java-classmate) library, which is similar to TypeTools and I believe can resolve parameterized type information, in addition to raw types.

[2015-07-29 01:06] vivin commented on #8
Awesome! Thanks a bunch for the quick response! I just ran into super-type tokens which maintain generic information via anonymous classes. The approach looks very appealing, but is kind of fragile because if you forget the trailing `{}` when you create an anonymous class-instance, the code doesn't work. Perhaps if there was a way to abstract that in some way, the super-type token approach would b

[2015-08-13 15:13] Robocop83 opened #9 "Not working for parameterized class implemented a functional interface"
I wrote this simple setter class using lambda

public class Setter<PARAMETER> implements Consumer<PARAMETER>
{
	private Consumer<PARAMETER> consumer;

	public Setter(Consumer<PARAMETER> consumer)
	{
		this.consumer = consumer;
	}

	@Override
	public void accept(PARAMETER parameter)
	{
		consumer.accept(parameter);
	}
}

then I created a JunitTest

	public void testLambdaSetter()
	{
		StringBuffer

[2015-08-13 17:55] jhalterman commented on #9
I can't tell from your example - where is PARAMETER defined?

[2015-08-13 18:11] jhalterman commented on #9
So this scenario is actually not resolvable via TypeTools or any other mechanism. Set aside the method reference, and basically we have:

[code]

The type argument `String` needs to be captured in a type definition in order for it to be resolvable. Ex:

[code]

When it comes to resolving type arguments from lambdas, the lambda has to be a functional interface. Ex:

[code]

[2015-08-13 18:11] #9 closed

[2015-08-14 07:25] Robocop83 commented on #9
Ok I solved used this syntax:

Setter<String> setter = new Setter<String>() {};

Thanks

[2015-10-28 05:12] jroper opened #11 "Disabling the cache breaks type resolution"
When I disable caching in 0.4.3, resolving the type arguments for a lambda simply returns Unknown for every argument.

[2015-10-28 19:41] jhalterman commented on #11
Will push a release for this immediately...

[2015-10-28 19:41] #11 closed

[2015-10-28 19:44] jhalterman commented on #11
0.4.4 is released. Should be in central shortly. Thanks for reporting this!

[2015-11-03 08:02] jhalterman opened #13 "Enhance TypeResolver.resolveBound to handle generic arrays, parameterized types, etc."
Right now it only handles type variables and classes.

[2015-12-03 11:59] pderop opened #14 "TypeResolver.resolveRawArgument returns java.lang.Object instead of actual type ?"
Hi;

I'm having (for example) the following interface:

[code]

Now, let's define a method reference on the "print" method, and using an instance of the Printer class:

[code]
so, above, I would expect to get a Printer type instead of Object ?

Notice that the following similar example is working fine:

[code]

Am I missing something ?

thanks in advance;
/Pierre

[2015-12-03 12:01] pderop commented on #14
I forgot to say that I'm using the following java version:

java -version

java version "1.8.0_66"
Java(TM) SE Runtime Environment (build 1.8.0_66-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.66-b17, mixed mode)

[2015-12-03 12:14] pderop commented on #14
errata, (oops sorry):

for the following example:
[code]

I would expect the type to be "java.lang.String" instead of "Java.lang.Object".

thanks
/Pierre

[2015-12-31 05:09] mickare opened #16 "local lambda and resolveRawArguments returns previous defined local variable class"
Java version: Oracle 1.8.0_45

Test-Code:
[code]
Fails with:
`arrays first differed at element [0]; expected:<class java.lang.String> but was:<class java.util.concurrent.atomic.AtomicInteger>`

--------------------------------------

The Test-Code using a `final AtomicInteger` in the test object is successfull:
[code]

[2016-01-07 15:09] mickare commented on #14
This seems to be similar to my #16?

I would explain this here that the object `printer` is taken as first parameter into the new created lambda expression `printer::println` as local variable. Then the `TypeResolver` finds the class both `Printer` and `String` share, which is `Object`.

[2016-01-07 15:19] mickare commented on #16
Could this commit over at the springframework's git solve the issue?
`Avoid mismatch between cached top-level versus nested parameter type`
https://github.com/spring-projects/spring-framework/commit/c909789ea9158f074270b1248418efd1ae4fe1b0

[2016-01-14 01:20] #16 closed

[2016-01-30 04:14] ohmerhe opened #18 "Is this library fit for android"
I try to use this library in android, but get exception in this line

[code]
`System.getProperty("java.version")` return "0" which can not be used to next action.

[2016-01-30 04:18] jhalterman commented on #18
It has not been tested against Android. I suspect that much of TypeTools would (or could be made to) work on Android, though the lambda/method reference stuff probably would not. Thanks for filing this.

[2016-01-30 04:41] ohmerhe commented on #18
Yes, it would not be strenuous to support android platform.

[2016-02-10 17:35] mortdiggiddy opened #19 "Methods that return Lambdas Problem"
Hello,

Great work, truly great.

I noticed a problem when I tried to use this library for the first time. Consider the following code:

[code]
Produces console ouput:
`class java.lang.Integer`

This is wrong, it should produce `class java.lang.reflect.Method`. I noticed that nested way deep in the code of `populateLambdaArgs(...)` that it does indeed find a TypeVariable of java.lang.reflect.Metho

[2016-02-11 17:27] mickare commented on #19
Hi mortdiggiddy! :)

**So short story first:**
It seems to me that you have a version before the latest commit.
The commit is unfortunately not yet on Maven Central. I'm also waiting on it. ^^

**The long version:**
I just tested the code on the top with the latest commit and it returned the class `Method`.
https://github.com/jhalterman/typetools/issues/16

I can tell you how java passes the modif

[2016-03-25 20:30] jhalterman commented on #18
Fixed via #20

[2016-03-25 20:30] #18 closed

[2016-03-29 21:32] JoshRosen opened #21 "Comparison against ClassMate"
It looks like the TypeTools and [ClassMate](https://github.com/FasterXML/java-classmate) libraries have similar goals. Do you have a short summary of the key differences / strengths of each library?

[2016-03-30 00:15] jhalterman commented on #21
I can't speak to @cowtowncoder's motivation for ClassMate, but TypeTools was intended to be a dead simple API built into a lightweight, zero-dependency library for resolving generic type information that covers the most common the use cases one would have for such a library which is raw type argument resolution, including from lambdas and method references.

The important way that TypeTools and Cl

[2016-03-30 00:48] cowtowncoder commented on #21
Sounds like a reasonable summary to me. ClassMate grew out of needs of Jackson databinding, and this is where more nested generic type variable resolution is beneficial.
I can not speak for handling of lambda types or method references wrt classmate: only Java 6 is required so there is no specific handling, although no explicit has been requested. So it might work for some uses.

[2016-03-30 04:48] jhalterman commented on #19
@mortdiggiddy Try the latest release, 0.4.5.

[2016-03-30 05:24] jhalterman commented on #14
The short answer is that this use case does not appear to be supported by the technique we're using to resolve lambda type information. The reason is:

With

[code]

The value of T is defined on the `Printer<String>` declaration. At runtime this is erased to `Printer`, so the `String` is lost. It is similar to:

[code]

The difference is here the value of T is actually defined on the [System.out.p

[2016-03-30 05:32] #19 closed

[2016-03-30 05:42] jhalterman commented on #4
Closing for now.

[2016-03-30 15:00] mortdiggiddy commented on #19
Good work.

[2016-04-12 02:58] asamaru7 opened #24 "android : java.lang.NumberFormatException error"
in android project unittest :

Caused by: java.lang.NumberFormatException: For input string: "1.7.0_79"
	at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
	at java.lang.Integer.parseInt(Integer.java:492)
	at java.lang.Integer.valueOf(Integer.java:582)
	at net.jodah.typetools.TypeResolver.<clinit>(TypeResolver.java:54)

[2016-04-12 03:45] #21 closed

[2016-04-12 04:08] jhalterman commented on #24
@asamaru7 I just pushed a fix. Are you able to try it out to make sure things work well for you?

[2016-05-06 04:03] jroper opened #25 "Possible more robust method reference resolution"
This isn't really an issue, but I just thought I'd let you know because in my project I was resolving method references from lambda instances and had copied some code from here to do it, but then I found out about a more robust way that uses 100% specced features, and so it will never break if the JDK version changes.  The catch is, it only works if the SAM extends `Serializable`, so it's not usef

[2016-05-06 22:41] jhalterman commented on #25
Thanks for the heads up @jroper. I was aware of the Serializable solution, but dismissed it early on since it obviously only works with Serializable lambdas. I think you're right though, it would be a nice, and possibly more performant, adaptive solution for lambdas that do happen to be Serializable.

I'd be interested to learn how serializing a lambda to obtain type arguments compares to the cons

[2016-06-09 13:39] ylyxf opened #26 "is method.isDefault a java 8 new feature in line 302"
it can't compile in java6

[2016-06-09 14:04] mickare commented on #26
Maybe solve it with reflections:

[code]

[2016-06-10 20:28] whiskeysierra opened #27 "Loading array class with ClassLoader.loadClass(String) doesn't work"
I have a lambda that looks like this:

[code]

If I try to resolve the raw arguments it gives me `Unknown.class`. So I stepped through the code with a debugger and finally arrived at [TypeDescriptor:351](https://github.com/jhalterman/typetools/blob/master/src/main/java/net/jodah/typetools/TypeDescriptor.java#L351)

[code]

Evaluating the expression yields `Method threw 'java.lang.ClassNotFoundExce

[2016-07-11 17:23] jhalterman commented on #26
TypeTools is [compiled and released as 1.6 bytecode](https://github.com/jhalterman/typetools/blob/master/pom.xml#L122), although admittedly I compile with a 1.8 JDK which is maybe why this problem doesn't occur. You shouldn't hit this problem at runtime since the Java version is checked prior to hitting this line of code.

Is the problem just that you're having trouble compiling TypeTools, not usi

[2016-07-11 17:32] jhalterman commented on #27
This JDK bug indicates we'll need a workaround:

http://bugs.sun.com/bugdatabase/view_bug.do?bug_id=6434149

Thanks for filing.

[2016-07-11 17:36] #27 closed

[2016-07-11 17:42] jhalterman commented on #27
0.4.7, which includes this fix, is released.

[2016-09-29 14:23] csoroiu commented on #3
I got also an exception when i tried to resolve a lambda modified by retrolambda. The exception I got based on the 0.4.7 version was:
[code]

This is because the call [`constantPool.getMemberRefInfoAt()`](https://github.com/jhalterman/typetools/blob/typetools-0.4.7/src/main/java/net/jodah/typetools/TypeResolver.java#L448) also returns for fields and constructors.

In the #28 pull request I also co

[2016-09-30 18:18] jhalterman commented on #26
Fixed by #28.

[2016-09-30 18:18] #26 closed

[2016-09-30 18:19] #24 closed

[2016-10-20 13:41] yrashk opened #31 "sun.reflect optionality in OSGi manifest"
Hi Jonathan,

This issue is in reference to npgall/cqengine#94

If typetools marked `sun.reflect` as an optional package in its OSGi manifest, then in case when its functionality required, one would need to follow the OSGi instructions (as per README) the same way as before.

However, in cases when typetools is a transient dependency (cqengine, for example, depends on it for a small part of its fu

[2016-10-20 16:19] jhalterman commented on #31
@yrashk I saw that discussion... I'm not an OSGi user myself, but I'd be fine with marking `sun.reflect` as optional (or taking a pull request along those lines) so long as it could still be manually imported and verified that things work as expected.

I assume that cqengine just doesn't need lambda type arg resolution (which the sun.reflect code is used for) ?

[2016-10-27 11:24] npgall commented on #31
Hi Jonathan, currently CQEngine has its own code for detecting generic types in non-lambda objects, and it's only using typetools for the lambda support actually.
But going forward I plan to remove the remaining code in CQEngine and to use typetools for the non-lambda stuff too. Thanks for TypeTools it's really a great library btw!

[2016-12-30 23:52] szpak opened #34 "java.lang.NoClassDefFoundError: sun/reflect/ConstantPool with Java 9"
We [would like](https://github.com/mockito/mockito/pull/859) to use typetools in Mockito to determine lambda's return type. It works fine with Java 8, but our Java 8+ distribution is planned to be Java 9 compatible. Unfortunately typetools seems to not work with Java 9:

[code]

Do you plan to make typetools Java 9 compatible?

Full stracktrace:
[code]

A corresponding Travis [build](https://travi

[2017-01-02 19:59] jhalterman commented on #34
Hi @szpak -

TypeTools uses ConstantPool to resolve lambda type args in Java 8, which I understand is being removed in Java 9 - though I'm not sure how definite that is. The only other approach I'm aware of for resolving lambda type args is to inspect the bytecode using something like ASM. The problem is that lambda class definitions are generated at runtime, so there's no classfile to inspect as

[2017-01-02 20:45] raphw commented on #34
This hack that I introduced to get hold of that bytecode is no longer working in Java 9, the instrumentation API is no longer allowed to access any type that is loaded by an anonymous class loader. The only way of doing this would be to instrument the `LambdaMetafactory` which I would not recommend. One way to do this would be to get hold of the original invokedynamic call site as the `MethodType`

[2017-01-02 20:56] jhalterman commented on #34
@raphw Would obtaining the invokedynamic call site still require use of an agent?

[2017-01-02 21:12] raphw commented on #34
No, you can extract the (raw) type from the call site in the declaring class.

[2017-01-06 12:40] szpak commented on #34
What do you think about the idea to report a feature request (a regression?) in OpenJDK to provide a way to gather that information also in Java 9?

[2017-01-06 13:18] raphw commented on #34
I would absolutely recommend you to go for such a request. I do not think that it will be a priority, but you should inform about these things.

[2017-01-06 14:42] csoroiu commented on #34
Hi all,
I did some experiments and also i was using a different approach for java 9 at the moment.
In [lambdamatchers](https://github.com/csoroiu/lambdamatchers/tree/methodref/src/main/java/_shaded/net/jodah/typetools) methodref branch, I have a copy of `TypeResolver` which i changed to allow injecting a *lambda method reference resolver*.

And for java 9 I am using the `DumpedLambdaByteCodeMethod

[2017-01-06 16:18] szpak commented on #34
@csoroiu ugly and fragile hack, however for me it's better than nothing (I don't know about possible side effects).

Coming back to OpenJDK request I would report it to be available directly, however, I'm not very savvy about bytecode which would be beneficial in a case of extra questions. Maybe one of you could report that?

[2017-01-06 18:03] jhalterman commented on #34
@csoroiu Since `ConstantPool` was moved to the `jdk.internal.reflect.ConstantPool` package in Java 9, have you tried resolving it from there? I haven't yet, but that would be the simplest and easiest solution here :)

Regarding the lambdamatchers/ASM approach, it's pretty cool, but I'm guessing that `jdk.internal.lambda.dumpProxyClasses` would be a deal breaker for many users.

Overall, without so

[2017-01-06 18:36] raphw commented on #34
You can always use `sun.misc.Unsafe` which is currently available and exported on Jigsaw to approach this. You would first get an instance which is stored in a private field `theUnsafe` You can then use this class to get hold of the reflective accessors to the new type. This type's methods cannot normally be made accessible as the `jdk.` packages are not exported but using `Unsafe::setField`, it i

[2017-01-06 20:24] csoroiu commented on #34
@jhalterman On the `java.internal.lambda.dumpProxyClasses` setting, this one allowed me to experiment on Java 9, I agree it might be a pain for a production application to run with that setting configured. For my particular case I use it only in unit tests. Mockito, similarly, is being used mostly in unit tests.

@jhalterman, previously I tested using the traditional approach of setting the object

[2017-01-06 20:33] jhalterman commented on #34
@csoroiu That sounds good, thanks. Continuing with the ConstantPool approach for JDK 9 would at least be the least disruptive.

[2017-01-06 23:01] csoroiu commented on #34
The latest changset #fc89497 should contain the support for Java 9. I created #35 PR.

[2017-02-01 12:23] ChristianSchwarz opened #36 "Release under dual license"
Is it possible to release type-tools under MIT-license too?
The mockito project (MIT-license) wan't to use typetools to resolve typeparamters from lambda expressions. Actually it is not desired to depend on an additional libs, so the only solution seems to be a releaase under dual license so mockito can copy/paste the required class into the mockito  code base.
Maybe know an other solution?

[2017-02-01 15:57] jhalterman commented on #36
@ChristianSchwarz I don't mind switching to an MIT license if Mockito decides to use TypeTools. We do have an outstanding [issue](https://github.com/jhalterman/typetools/issues/34) around resolving lambdas in Java 9, but there seems to be a good workaround.

As for including TypeTools in Mockito, if not as a library, you may just want to use something like the Maven shade plugin to repackage the T

[2017-02-07 16:50] Exerosis opened #37 "Somewhat Indirect Method Reference Not Resolving Correctly"
This explains the issue with a use case. I can't say I fully understand the restrictions on erasure, so I'm not entirely sure what to do. Thank you!
https://hastebin.com/viraqohexe.java

[2017-03-04 00:34] ksperling opened #38 "Constructor references not resolving in released version"
Looks like this is fixed in HEAD though. Any chance of pushing a new release?

[2017-03-04 02:03] jhalterman commented on #38
Happy to kick out a release. Stand by...

[2017-03-04 02:12] jhalterman commented on #38
0.4.9 has been released. It should be in central shortly...

[2017-03-04 02:12] #38 closed

[2017-03-18 21:01] Mrodent opened #39 "Could you possibly provide an example solving this?"
This looks extremely clever... but is there any way of getting this to print "javax.swing.Action":

		Bod<Action> bod = new Bod<Action>();
                //Class<?> typeArg = TypeResolver.resolveRawArgument( Bod.class, bod.getClass() );
		Type typeArg = TypeResolver.resolveGenericType( Bod.class, bod.getClass() );
		// just prints the class name, "Bod"
		printOut( String.format( "# typeArg %s", t

[2017-03-19 17:16] jhalterman commented on #39
The only way to recover type information at runtime is, generally, if it's captured in a type declaration. A simple instantiation like `new Bod<Action>()` isn't enough since `Action` is erased at runtime. But if you were to create an anonymous class instead:

[code]

or a named type declaration:

[code]

Then the `Action` type arg can be recovered from either of those:

[code]

[2017-03-22 06:56] Mrodent commented on #39
Thanks...

[2017-03-22 06:56] #39 closed

[2017-03-30 09:35] chhsiao90 opened #40 "Lambda resolver limitation"
I had searched for issues but didn't find any similar issue.
And I had tried openjdk64-1.8.0.91 and oracle64-1.8.0.101, all seems to have same problem.

For following case, at test case ```shouldResolveTypesForLambda ``` that we cannot get the generic type of Integer when defined a lambda of Function<Integer, String>.
Is that a limitation? Thanks!

[code]

[2017-03-31 04:14] jhalterman commented on #40
I believe this is a limitation of the technique we're using and sounds similar to issue #14. Check out my comment [here](https://github.com/jhalterman/typetools/issues/14#issuecomment-203253692) since I think it's a similar situation.

[2017-03-31 05:58] chhsiao90 commented on #40
Thanks for the information.
I had even tried [SerializedLambda](https://stackoverflow.com/questions/21887358/reflection-type-inference-on-java-8-lambdas/25625761#25625761) and it seems that it had same limitation too.

Knowing the limitation is good enough to me, thanks!

[2017-03-31 05:58] #40 closed

[2017-03-31 15:09] jhalterman commented on #34
@szpak I just merged @csoroiu's PR, #35. This adds a dependency on `sun.misc.Unsafe` and uses the technique @raphw [described above](https://github.com/jhalterman/typetools/issues/34#issuecomment-270971763) for getting a reference to the `ConstantPool`. This seems to work in Java 9. Try against master and see how it works for you.

[2017-03-31 15:36] szpak commented on #34
Some time ago I "borrowed" that class from PR to use it directly and it worked fine. If there were no changes around the merge it should work fine from master.

[2017-03-31 15:36] #34 closed

[2017-05-24 10:43] yaitskov commented on #14
Hi,

I am facing this issue.

[code]
work around is

[code]

[2017-05-25 23:40] jhalterman commented on #14
Hi @yaitskov,

What's interesting about your scenario is that this works:

[code]

But this doesn't:

[code]

For whatever reason the `ConstantPool`, which is where we read lambda/method ref type information, encodes the latter scenario as `println(Object o)`. It might be hard for us to recognize that in this scenario `Object` should actually be `String` since we're converting from another type. P

[2017-07-13 08:46] wyzssw opened #41 "Not Support get Generic Type from lambda class"
[code]

[2017-11-09 03:53] Vampire opened #42 "Raw Arguments of a casted method reference are not determined correctly"
Executing the code

[code]

results in the output

[code]

I'd expect both lines to be `interface Test$MessageReceivedEvent`.
This seems to be a missing special handling for method references.

[2017-11-09 19:30] csoroiu commented on #42
I the code behaves as designed. And I'll explain below what happens.

Basically at compile time the lambda expression `mre -> handle(mre)` gets translated into a synthetic method and a reference to that method (`invokedynamic` for that reference).

The synthetic method is generate inside the `Test` class and has the signature/name:
`private static void lambda$main$0(MessageReceivedEvent event)`.

[2017-11-09 19:32] Vampire commented on #42
Hm, ok, thx for the info. While I thought about it more after reporting here I feared it would be like that. :-(

[2017-11-09 19:32] #42 closed

[2018-01-29 13:46] marvk opened #43 "Illegal reflective access operation"
I'm getting a warning for an illegal reflective access operation while using [mvvmFX](https://github.com/sialcasa/mvvmFX):

    WARNING: An illegal reflective access operation has occurred
    WARNING: Illegal reflective access by net.jodah.typetools.TypeResolver (file:/Users/marvinkuhnke/.m2/repository/net/jodah/typetools/0.4.1/typetools-0.4.1.jar) to method java.lang.Class.getConstantPool()

[2018-04-11 07:03] AhmadNemati opened #44 "get simple name return Unknown class!"
[code]
class com.example.type.TypeResolver$Unknown

how can i find  Integer?

[2018-04-11 16:04] jhalterman commented on #44
It's only possible to recover a type argument when it's captured in a type definition. Ex:

[code]

[2018-04-11 17:12] #44 closed

[2018-09-06 10:15] lvtanxi opened #45 "getConstantPool"
Class.class.getDeclaredMethod("getConstantPool");
This method is not available on Android.

[2018-09-07 01:02] lvtanxi commented on #18
ConstantPool this method is in sun's JDK, while Android is not.

[2018-09-25 18:19] bsbodden commented on #44
What's going on this example then? https://github.com/jhalterman/typetools/blob/master/src/test/java/net/jodah/typetools/TypeResolverTest.java#L179

[code]

[2018-11-30 10:30] lorenzleutgeb commented on #8
Any chance that resolution of parameterized types might still make it into `typetools`? I implemented this in another library by first constructing a `Map<Type, Type>` and then walking `ParameterizedTypes` of arbitrary depth by substituting with the information in the map. I think that #12 would go in a similar direction.

[2018-11-30 16:09] jhalterman commented on #8
I'd like to, but at this point I'd say it would have to be a contribution from someone.

[2018-12-26 03:40] #8 closed

[2018-12-26 04:21] #4 closed, assigned to nobody

[2019-01-11 08:29] giamma opened #47 "Method reference lambdas are not supported on IBM JDK"
The IBM J9 JDK 8 does not have the private native method `Class.getConstantPool()`.
Please note the J9 is the product name while the JDK level is Java 8.

When the static initialization is performed this results in a run-time error which is ignored in the catch block and the code probably assumes that this is the case because the JDK is < 8 and  turns off boolean `RESOLVES_LAMBDAS` used to indicat

[2019-01-11 16:01] jhalterman commented on #47
Would be happy to take a PR for this.

[2019-01-14 13:16] giamma commented on #47
Hi,

I did a bit of research, looking into the Oracle JDK and IBM JDK source code.

In IBM JDK >= 9 access to constant pool takes place in the exact same way as the Oracle JDK, meaning that the Class object provides the native method which returns the ConstantPool.

However, In IBM JDK 8  the java.lang package contains a package-visible class named Access, i.e. java.lang.Access which provides a me

[2019-01-15 14:12] giamma commented on #47
I don't have much time now, let's see.

[2019-01-15 17:34] nfalco79 commented on #47
This fixes the issue modelmapper/modelmapper#437

[2019-03-09 14:26] alex-lx opened #50 "It can't resolve the real type of lambda when working with JRebel"
It seems JRebel generated some methods on classes, and in net.jodah.typetools.TypeResolver#getMemberRef just returned JRebel's method which IMO it should be ignored.

[2019-03-27 16:30] michelole opened #52 "Tests fail with OpenJDK 12"
When trying to build the project with OpenJDK 12, tests fail with:

[code]

[2019-04-21 20:40] szpak commented on #52
mockito-java8 which depends on typetools for some kind of operations also fails with Java 12: https://github.com/szpak/mockito-java8/issues/33

[2019-04-26 04:24] jhalterman commented on #52
Here we go again :)

Happy to take a PR for this.

[2019-04-26 04:35] jhalterman commented on #50
I'm guessing the impact of this is it causes the wrong method to be matched resulting in a failed type resolution?

Happy to take a PR for this if there's a reasonably clean way of excluding JRebel methods.

[2019-04-26 09:37] alex-lx commented on #50
Hi @jhalterman, I don't find any clear reference about what does JRebel do.
After testing on my computer, I find all JRebel's `member`s declaring class name are starting with "com.zeroturnaround.jrebelbase.facade.". Do you think it's a  reasonably clean way?

[2019-06-04 14:40] gselzer commented on #8
Sorry to discuss on a closed topic, but was the nested generics work applied to lambda parameterized types?  Using `reify(Function.class, <thing_to_reify>.class)`, `typetools` seems to adequately reify my
`class Foo implements Function<List<Double>, List<String>>`
however struggles greatly in reifying my
`Function<List<Double>, List<String> fooFunction = (list) -> {...};`.
`typetools` can obviousl

[2019-06-12 13:03] buko opened #54 "Automatic Module Name"
typetools should probably define an Automatic Module Name (see http://branchandbound.net/blog/java/2017/12/automatic-module-name/ ) of the value `net.jodah.typetools`.

Currently when you use typetools as a module it comes in as 'typetools'. This is definitely going to collide with other modules in the future and cause problems. So typetools should pick a more robust module name that uses RDN.

[2019-06-13 14:39] kalikin opened #55 "Tests fail with JVMTI agent instrumentation"
Steps to reproduce:
1. download and extract [YourKit Java Profiler ](https://www.yourkit.com/download/)
2. run tests with profiler agent by [specifying JVM argument](https://www.yourkit.com/docs/java/help/agent.jsp) `-agentpath:<full agent library path>`

This caused issues in profiling applications which use [ModelMapper](https://github.com/modelmapper/modelmapper) library.

[2019-06-28 06:17] buko opened #56 "TypeResolver depends on sun.misc.Unsafe which no longer exists in JDK11+"
This is probably why #52 , the test failing with OpenJDK 12 is happening.

The error comes from [TypeResolver.java line 68](https://github.com/jhalterman/typetools/blob/master/src/main/java/net/jodah/typetools/TypeResolver.java#L68).

When that static intializer craps out the entire JVM dies. (Why static initializers are somewhat dangerous I think.)

[code]

[2019-06-28 06:22] buko commented on #56
Short term work around, is bringing sun.misc.Unsafe back by adding the following to module.info:

[code]

[2019-08-24 10:08] nhojpatrick commented on #54
I'm working on getting cucumber to a jpms build and this would be a stepping stone to towards jpms.

[2019-09-11 07:58] luckypolaris opened #58 "return 'net.jodah.typetools.TypeResolver$Unknown'"
Hi,bro:
    I try to get the raw type from lambda expression like this:
`/**
 * <p> FunctionalInterface  </p>
 *
 * @author Alex
 */
@FunctionalInterface
public interface Callback<T> {

    void handler(List<T> result);

}`

`Callback<String> callback = result -> {
            //do something
        };
Class<?>[] typeArgs = TypeResolver.resolveRawArguments(Callback.class, callback.getClass());
`
b

[2019-12-06 15:01] bmaassenee opened #60 "resolveRawArguments returns empty array"
The following unit test fails because the resolveRawArguments returns an empty array. According to the java doc i would either expect null or a filled array

`public class TypeResolverTest
{
	class A
	{
		B b;
	}

	class B extends HashMap<String,String>
	{}

	@Test
	public void test()
	{
		Class[] resolved = TypeResolver.resolveRawArguments( B.class, A.class );
		assertEquals( 2, resolved.length )

[2019-12-06 15:03] bmaassenee commented on #60
tested in 0.6.1

[2020-01-13 16:50] glockhart opened #61 "OSGi bundle exports package with incorrect version"
The version of the project is 0.6.1 and this is also the OSGi Implementation-Version, however Export-Package uses net/jodah/typetools;version=1.0

This causes issues in the Apache Felix OSGi container as it can't load the bundle correctly.

I'll submit a PR for this issue

[2020-02-26 15:56] #61 closed

[2020-02-26 15:57] #54 closed

[2020-03-03 10:00] nhojpatrick opened #64 "Java module-info.java"
I'm happy to do the work but after some discussion at apache commons, I would propose a major version bump for adding module-info into typetools.

1) Any downstream projects using class scanners potentially won't understand module-info so will break projects.
2) I propose using Multi Release Jar, so;
2.1) Make min java version requirement 1.8
2.2) Update build to have src/main/java11/module-info.j

[2020-03-13 02:26] jhalterman commented on #56
Would be happy to take a PR for this.

[2020-03-13 02:28] jhalterman commented on #64
Why do you think a multi-release jar would be necessary, and similar for the 1.8 requirement?

[2020-03-13 02:32] jhalterman opened #65 "Looking for a co-maintainer"
As I haven't been able to give TypeTools the timely attention it deserves recently, I'd like to see if anyone would be interested in co-maintaining typetools? If so, send me an e-mail (address is in my profile).

/cc @nhojpatrick @giamma @lorenzleutgeb

[2020-03-26 14:49] duomianti1987 commented on #64
xiu

[2020-03-27 14:49] giamma commented on #65
Hello Jonathan,

thank you for taking me into consideration, and sorry for my late reply.
I am not using TypeTools that much anymore (it came as a dependency of
Model Mapper which we are not using anymore).
Still, I see on github it's used by 250+ other projects, so it's indeed an
important library.

Do you have ambitious plans for TypeTools? Did you have any luck with the
other candidates?

On Fr

[2020-03-27 15:09] jhalterman commented on #65
Hi Gian Maria - I don't have any major plans for TypeTools aside from
continuing to maintain it to support newer and different JREs. So far I
haven't heard from anyone else. I'll continue to maintain it as I can, but
I think it deserves more attention than I have time for now.

Cheers,
Jonathan

On Fri, Mar 27, 2020 at 7:49 AM GianMaria Romanato <notifications@github.com>
wrote:

[2020-03-27 15:10] jhalterman commented on #65
Hi Gian Maria - I don't have any major plans for TypeTools aside from continuing to maintain it to support newer and different JREs. So far I haven't heard from anyone. I'll continue to maintain it as I can, but I think it deserves more attention than I have time for now.

[2020-12-09 03:50] weimingjue opened #68 "Does not support Android"
This does not apply to Android at all:
1.getProperty("java.version")=0, and crash
2.Method.isDefault() requires Android7.0 or higher (api24)
3. There is no ConstantPool class in Android

[2020-12-09 04:08] weimingjue commented on #68
0.4.4 is actually 2016, I will try the latest code

[2021-02-07 09:49] white-sdev opened #69 "Collections not supported"
Should this work?
[code]
Prints:
[code]

[2021-02-10 19:24] dreis2211 opened #70 "TypeResolver.resolveRawArguments is not working with lambdas on JDK 14"
Hi,

I just found out that the static init block in `TypeResolver` is choking up on `AccessibleObject.class.getDeclaredField("override")` in newer JDKs (I think it's actually broken since JDK12, but I don't have it locally).

Ultimately, this leads to `RESOLVES_LAMBDAS` not being set and therefore to problems when resolving lambdas in `resolveRawArguments`. Unfortunately, the static init block is

[2021-03-06 19:17] codetwice commented on #70
Is this the reason why arguments are resolved to net.jodah.typetools.TypeResolver.Unknown?

[2021-04-06 08:59] chhsiao90 commented on #70
It should be caused by https://github.com/openjdk/jdk/commit/9c70e26c146ae4c5a2e2311948efec9bf662bb8c

[2021-04-07 03:55] chhsiao90 commented on #70
After investigation, using `VarHandle` works fine but it requires minimum JDK 9 (Reflection over VarHandle doesn't work, see [Calling set on VarHandle in java 14 causes UnsatisfiedLinkError](https://stackoverflow.com/questions/64023617/calling-set-on-varhandle-in-java-14-causes-unsatisfiedlinkerror).

[2021-04-07 05:15] chhsiao90 commented on #70
Just saw there is a pull request fixed this issue #66

[2021-04-09 18:45] jhalterman commented on #70
Closed by #66.

[2021-04-09 18:45] #70 closed

[2021-04-09 19:03] jhalterman commented on #52
Closed by #66.

[2021-04-09 19:03] #52 closed

[2021-04-09 19:05] mkurz commented on #56
@jhalterman Also fixed by #66?

[2021-04-09 19:06] #56 closed

[2021-04-09 19:14] jhalterman commented on #69
@white-sdev Unfortunately that won't work since `strings` doesn't capture any type information in a type definition (class, interface, lambda). You can make `strings` a subclass of ArrayList though, in which case the `String` type arg would be captured:

[code]

See the README for more examples.

[2021-04-09 19:14] #69 closed

[2021-09-22 06:58] csoroiu commented on #45
The "getConstantPool" method is used for lambda argument resolution.

On the project page it was already mentioned that lambda argument resolution works only on openjdk and oraclejdk, thus Android is not supported.
https://github.com/jhalterman/typetools#additional-notes

I believe that a PR on this matter will be welcomed.

[2021-11-09 03:02] scruel opened #75 "How to create instance with private constructor?"
Notice the README [common-use-cases section](https://github.com/jhalterman/typetools#common-use-cases)

should `private GenericDAO()`  be `public GenericDAO()` ?

Same, `persistentClass` should be public, then make outer instance can access it.

[2021-11-09 03:50] jhalterman commented on #75
It's just an example, but yea, the constructor should probably be protected or public (want to send a PR?). `persistentClass` and `idClass` are meant to be visible just to the child classes, although again, it's just an example.

[2021-11-09 05:17] scruel commented on #75
Got it, I may send a PR, THX~

[2021-11-09 06:33] scruel commented on #58
Same issue.

[2021-11-09 09:54] scruel commented on #58
One level Class won't be able to get the actual generic type at runtime in its class, cause when source code file(.java) compile to bytecode file(.class), it will only have `T:Ljava/lang/Object` rather than actual type you defined in other place of your code.
With extends, the actual type arguments you write in subclasses will also be compiled to the bytecode, so you can get the actual type form t

[2021-11-09 10:05] scruel commented on #75
Code can run in tests.

[2021-11-09 10:05] #75 closed

[2021-11-09 10:19] scruel commented on #60
Wrong use, you code should be:
`TypeResolver.resolveRawArguments(HashMap.class, B.class)`
By the way, the second parameter of `resolveRawArguments` method should be a subclass, which A is not.
@jhalterman close.

[2022-08-14 06:40] overfullstack commented on #34
Hi, thanks for this awesome library. But unfortunately, I see this is again broken in Java 11 with the same exception, do you have any plans to add support for Java 11?